.highlight {
  @extend %clearfix;

  font-size: 1.2rem;

  padding: 0;
  margin: {
    top: $base-spacing;
    bottom: $base-spacing;
  };

  &, .hll, pre, code {
    background: #282c34;
    border-radius: 5px;
    border: none;
  }

  pre {
    margin: 0;
    padding: $small-spacing $base-spacing;
    white-space: pre;
    line-height: 23px;
    overflow-x: auto;
    margin-bottom: 0;
    word-break: inherit;
    word-wrap: inherit;

    &, code {
      color: #eeffdd;
    }

    code {
      white-space: pre;
      padding: 0 !important;

      * {
        white-space: nowrap;

        // this sets all children inside to nowrap

      }
    }
  }

  .c {
    color: #5c6370;
    font-style: italic;
  }

  .err {
    color: #960050;
    background-color: #1e0010;
  }

  .k {
    color: #c678dd;
  }

  .l {
    color: #98c379;
  }

  .n, .o, .p {
    color: #edf0f5;
  }

  .cm, .cp, .c1, .cs {
    color: #5c6370;
    font-style: italic;
  }

  .ge {
    font-style: italic;
  }

  .gs {
    font-weight: 700;
  }

  .kc, .kd, .kn, .kp, .kr, .kt {
    color: #c678dd;
  }

  .ld {
    color: #98c379;
  }

  .m {
    color: #d19a66;
  }

  .s {
    color: #98c379;
  }

  .na {
    color: #d19a66;
  }

  .nb, .nc, .no, .nd, .ni, .ne {
    color: #e5c07b;
  }

  .nf {
    color: #edf0f5;
  }

  .nl {
    color: #e5c07b;
  }

  .nn, .nx {
    color: #edf0f5;
  }

  .py {
    color: #e5c07b;
  }

  .nt {
    color: #e06c75;
  }

  .nv {
    color: #e5c07b;
  }

  .ow {
    font-weight: 700;
  }

  .w {
    color: #f8f8f2;
  }

  .mf, .mh, .mi, .mo {
    color: #d19a66;
  }

  .sb, .sc, .sd, .s2, .se, .sh, .si, .sx {
    color: #98c379;
  }

  .sr {
    color: #56b6c2;
  }

  .s1 {
    color: #98c379;
  }

  .ss {
    color: #56b6c2;
  }

  .bp, .vc, .vg {
    color: #e5c07b;
  }

  .vi {
    color: #e06c75;
  }

  .il {
    color: #d19a66;
  }

  .gu {
    color: #75715e;
  }

  .gd {
    color: #f92672;
  }

  .gi {
    color: #a6e22e;
  }

  // Generic.Inserted & Diff Inserted
}
