@import "./variables.css";

.indexContainer {
  text-align: left !important;
  margin-top: 1rem;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (--phone) {
    text-align: center !important;
    margin-top: 0;
  }
}

.textCol,
.imgCol {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;

  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.imgCol {
  margin-bottom: 2rem;
  padding-right: 15px;
  padding-left: 15px;

  flex: 0 0 auto;

  width: auto;
  max-width: 100%;

  position: relative;

  @media (min-width: 684px) {
    margin-bottom: 0;
  }
}

.textCol {
  flex: 0 0 100%;
  max-width: 100%;
  order: 2 !important;

  @media (min-width: 684px) {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    order: 1 !important;
  }
}

.indexRow {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 2rem;
  justify-content: space-around !important;

  @media (min-width: 684px) {
    flex-wrap: nowrap !important;
  }
}

.heading {
  font-weight: 300;
  font-size: 40pt;
  margin-top: 0;
  margin-bottom: 1rem;
  display: block;
}

.summary {
  font-size: 16pt;
  margin-bottom: 0;
  margin-top: 0;
}

.text {
  margin-bottom: 2rem;
  margin-top: 0;
}

.social {
  a {
    margin-left: 10px;
    margin-right: 10px;
  }
}
